body {
    font-family: Georgia, serif;
    margin: 0 20%;
    text-align: justify;
    background: url(../img/frank.jpg) no-repeat center fixed;
}

div {
    margin: 5em 0;
}

h1, 
h2, 
h3 {
    text-align: center;
}

p {
    text-indent: 1em;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.shift-left {
    margin-right: 10%;
}

.container {
    background: rgba(152, 251, 152, .8);
    padding: 0.1em 5em;
}

.title-container {
    padding: 0.1em 0 3em;
}

.title-container .title {
    line-height: 75%;
}

.title-container h1,
.title-container h2,
.title-container h3 {
    color: darkgreen;
    text-shadow: .05em .05em .1em limegreen;
}

.letter-container {
    color: darkgreen;
    line-height: 200%;
    font-weight: bold;
}

.letter-container h2 {
    text-decoration: underline;
}